<%- include("./partials/upper_body.ejs", { buttons: [
    { href: `/categories/edit/${locals.category.id}`, caption: "Edit" },
    { href: `/categories/delete/${locals.category.id}`, caption: "Delete" },
  ] })
%>
  <div class="item">
    <div class="item-body">
      <div class="field">
        <span class="field-value">
          <%= locals.category.description %>
        </span>
      </div>
      <div class="cards">
        <% if (locals.cars) { %>
          <% locals.cars.forEach(car => { %>
            <%- include("./partials/car_card.ejs", { car }) %>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
<%- include("./partials/bottom_body.ejs") %>