<%- include("./partials/upper_body.ejs") %>
  <div class="main-menu">
      <a href="/cars" class="button">Cars</a>
      <a href="/categories" class="button">Categories</a>
      <a href="/brands" class="button">Brands</a>
  </div>
<%- include("./partials/bottom_body.ejs") %>